@model IList<VacationPlanner.Models.Event>
@{
    ViewData [ "Title" ] = "ViewItineraries";
    Layout = "~/Views/Shared/_Layout.cshtml";
    

}

<html>
<head>
    <title></title>
    <script>
        function myFunction() {
            var checkBox = document.getElementById("remove");
            var places = document.getElementById("places");
            var events = document.getElementById("events");
            if (checkBox.checked == true) {
                places.style.display = "block";
                events.style.display = "none";

            }
            else {
                places.style.display = "none";
                events.style.display = "block";
            }
        }
    </script>
</head>
<body>
    <form asp-action="RemoveEvents" asp-controller="Event" id="places" style="display:none">
        @foreach ( var e in Model )
        {
            <ul>
                <li>
                    <input type="checkbox" name="eventIds" value=" @e.ID" id="@e.ID" />
                    <input type="hidden" name="cityId" value="@e.CityID" id="@e.CityID"/>
                    <label for="@e.ID">@e.Location</label>
                </li>
            </ul>

            
        }
        
        <input type="submit" value="Remove Selected Events" />
        
    </form>
    <div id="events" style="display:block">
        @foreach ( var e in Model )
        {
            <ul>
                <li id="@e.ID">@e.Location</li>
            </ul>
        }
    </div>
    <label for="remove">Remove Events</label>
    <input type="checkbox" onclick="myFunction()" id="remove" />
</body>
</html>