@model IList<VacationPlanner.Models.Event>
@{
    ViewData [ "Title" ] = "ViewItineraries";
    Layout = "~/Views/Shared/_Layout.cshtml";
    

}

<html>
<head>
  
    <script>

        function Remove() {
            var checkBox = document.getElementById("remove");
            var places = document.getElementById("places");
            var events = document.getElementById("events");
            if (checkBox.checked == true) {
                places.style.display = "block";
                events.style.display = "none";

            } else {
                places.style.display = "none";
                events.style.display = "block";
            }
        }

       
    </script>
</head>
<body>


    @if ( Model.Count == 0 )
    {
        <p>No events yet!</p>
        
    }

    <form asp-action="RemoveEvents" asp-controller="Event" id="places" style="display:none">
        @foreach ( var e in Model )
        {
            <ul>
                <li>
                    <input type="checkbox" name="eventIds" value=" @e.ID" id="@e.ID" />
                    <input type="hidden" name="cityId" value="@e.CityID" id="@e.CityID" />
                    <label for="@e.ID">@e.Location</label>
                </li>
            </ul>


        }

        <input type="submit" value="Remove Selected Events" />
        <br />
    </form>
    <div id="events" style="display:block">
        @foreach ( var e in Model )
        {
            
            <ul>
                <li id="events">@e.Location</li>

            </ul>
        }
    </div>
    <br />
    <label for="remove">Remove Events</label>
   
<input type="checkbox" onclick="Remove()" id="remove"/> 

 



</body>
</html>